*{
    box-sizing: border-box;
    background-image: linear-gradient(-90deg, lightgreen,yellow);
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}


span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}




